body{
    
    width: 600px;
    height: 600px;
    background-color: bisque;
    display: flex;
    justify-content: center;
}

p {
    display: inline-flex;
    margin: auto 10px;
    font-size: 22px;
    color: blueviolet;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
    
}

